:root {
  --color-fg-default: #c9d1d9;
  --color-canvas-default: #0d1117;
  --color-fg-muted: #8b949e;
  --color-btn-text: #c9d1d9;
  --color-btn-border: rgba(240, 246, 252, 0.1);
  --color-border-default: #30363d;
  --color-success-fg: #3fb950;
  --color-success-emphasis: #238636;
  --color-accent-fg: #58a6ff;
  --Layout-sidebar-width: 256px;
  --Layout-gutter: 16px;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #161b22;
  color: white;
}

.container {
  padding: 16px;
  max-width: 1280px;
  margin: 0 auto;
}

.sidebar__top {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.profile-img-container {
  position: relative;
  width: min-content;
}

.profile__image {
  width: 16.66666666%;
  min-width: 66.52px;
  border-radius: 100%;
  margin-right: 16px;
}

.profile-badge {
  display: none;
}

.profile__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 0;
}

.profile__name {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
}

.profile__username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: var(--color-fg-muted);
}

.sidebar__bottom {
  margin-bottom: 16px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}

.profile__status {
  display: flex;
  cursor: pointer;
  gap: 10px;
  align-items: center;
  color: var(--color-fg-muted);
  font-size: 12px;
  fill: var(--color-fg-muted);
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid var(--color-border-default);
  color: var(--color-fg-muted);
  padding: 8px 4px;
}

.profile__status > svg {
  padding-left: 5px;
}

.profile__status:hover {
  color: #58a6ff;
  fill: #58a6ff;
}

.profile__edit {
  cursor: pointer;
  background-color: #21262d;
  color: var(--color-btn-text);
  border: 1px solid var(--color-btn-border);
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding: 5px 16px;
}

.profile__info-more {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.profile__website {
  display: flex;
  align-items: center;
}

.profile__website > svg {
  fill: var(--color-fg-muted);
}

.profile__website > a {
  text-decoration: none;
  color: var(--color-fg-default);
  font-size: 14px;
}

.profile__website > a:hover {
  text-decoration: underline;
  color: #58a6ff;
  fill: #58a6ff;
}

.profile__location {
  display: none;
  color: var(--color-fg-default);
  font-size: 14px;
  fill: var(--color-fg-muted);
}

.profile__follows {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 8px;
  font-size: 14px;
  color: var(--color-fg-muted);
}

.profile__follower {
  display: flex;
  align-items: center;
}

.profile__follower > svg {
  fill: var(--color-fg-muted);
}

.profile__follower > span {
  color: var(--color-fg-default);
  font-weight: 600;
}

.profile__following > span {
  color: var(--color-fg-default);
  font-weight: 600;
}

.sidebar__achievements {
  border-top: 1px solid var(--color-border-default);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  padding-top: 16px;
}

.achievement__heading {
  color: var(--color-fg-default);
  font-size: 16px;
  font-weight: 600;
}

.achievements__img {
  width: 64px;
}

.achievement__bottom-section > span {
  line-height: 18px;
  margin-right: 4px;
  font-weight: 400;
  border-radius: 2em;
  padding: 0.12em 0.5em;
  font-size: 85%;
  color: var(--color-success-fg);
  border: 1px solid var(--color-success-emphasis);
}

.achievement__bottom-section > a {
  color: var(--color-accent-fg);
  font-size: 12px;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 0 minmax(
        0,
        calc(100% - var(--Layout-sidebar-width) - var(--Layout-gutter))
      );
    grid-gap: var(--Layout-gutter);
    padding: 24px;
  }

  .sidebar__top {
    flex-direction: column;
    align-items: start;
    margin-bottom: 0px;
  }

  .sidebar-profile {
    width: var(--Layout-sidebar-width);
  }

  .profile__image {
    width: 100%;
  }

  .profile__status {
    display: none;
  }

  .profile__follows {
    margin-bottom: 16px;
  }

  .profile__location {
    display: block;
  }

  .profile-img-container {
    position: relative;
    width: 100%;
  }

  .profile__info-more {
    flex-direction: column-reverse;
  }
  .profile__website > a {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden;
  }

  .profile-badge {
    display: flex;
    background-color: var(--color-canvas-default);
    fill: var(--color-fg-muted);
    border: 1px solid var(--color-border-default);
    border-radius: 2em;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    left: 100%;
    z-index: 2;
    width: 38px;
    height: 38px;
    margin-bottom: 32px;
    margin-left: -40px;
  }
}

@media only screen and (min-width: 1011px) {
  :root {
    --Layout-sidebar-width: 296px;
  }
}
